.main-container {
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    gap: 3rem;
    padding: 10rem 10rem;
    flex: 1;
  }
  
  .main-container > h1 {
    font-size: 14rem;
    letter-spacing: -0.06em;
    line-height: 0.8em;
    text-align: left;
    color: white;
    max-width: 140rem;

  }
  
  .main-container__subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.5rem;
    letter-spacing: -0.2px;
    text-align: left;
  }
  
  @media screen and (max-width: 640px) {
    .main-container{
        padding: 3rem;
    }
    .main-container > h1 {
      font-size: 9rem;
      line-height: 1em;
    }

  
    .main-container__subtitle {
      font-size: 2rem;
    }

  }
  
  /* Sidebar.css */
.sidebar {
  position: fixed;
  width: 5%;
  border-radius: 4px;
  left: 4rem;
  top: 15rem;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
  /* bottom: 30px; */
  /* width: 50px;  */
  height:70% ;
  background-color: #ffffff; /* Adjust the background color as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px; /* Space at the top */
}

.sidebar-icon {
  color: #61dafb; /* Adjust the color as needed */
  font-size: 24px; /* Adjust the font size as needed */
  width: 24px;
  margin-top: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sidebar-icon:hover {
  transform: scale(1.2);
}


